@model SmallHotels.Models.ManageViewModels.IndexViewModel
@{
    ViewBag.Title = $"{this.User.Identity.Name}'s Profile";
}
<div class="container profile-container">
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-256.png" alt="profile-picture" class="profile-picture img-circle" />
    <div class="card card-profile">
        <div class="card-content">
            <div class="row no-margin">
                <div class="col-md-6 text-center">
                    <h4>Welcome, @this.User.Identity.Name!</h4>
                    @using (Ajax.BeginForm("GetUserRequests",
                new AjaxOptions()
                {
                    UpdateTargetId = "action-result-container",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }))
                    {
                        <input type="submit" value="Show Requests" class="btn btn-black btn-login btn-manage" />
                    }
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-black btn-login btn-manage" })
                    }
                    else
                    {
                        @Html.ActionLink("Create Password", "SetPassword", null, new { @class = "btn btn-black btn-login btn-manage" })
                    }
                    <br />
                    <input type="submit" value="Change Profile Picture" class="btn btn-black btn-login btn-manage" />
                    <br />
                    @using (Ajax.BeginForm("EditUserInfo",
                new AjaxOptions()
                {
                    UpdateTargetId = "action-result-container",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "editInfoOpen"
                }))
                    {
                        <input type="submit" value="Edit Personal Data" class="btn btn-black btn-login btn-manage" />
                    }
                    @using (Ajax.BeginForm("StoriesList",
                new AjaxOptions()
                {
                    UpdateTargetId = "action-result-container",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                }))
                    {
                        <input type="submit" value="Added Stories" class="btn btn-black btn-login btn-manage" />
                    }
                </div>
                <div class="col-md-6 text-center">
                    <div id="action-result-container">
                        @Html.Partial("_UserRequestsPartial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function infoUpdated() {
            notify('success', 'Info successfully updated!');
        }

        function infoError() {
            notify('error', 'An error occured! Make sure your data is correct or try again later!');
        }

        function editInfoOpen() {
            $.validator.unobtrusive.parse("#action-result-container");
        }
    </script>
}