@using SmallHotels.Models.AccountViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}
<div class="container">
    <div class="row card-only">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="card login-form">
                    <div class="card-content card-login">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Sing in</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="login-credentials">
                                    <div class="input-field">
                                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="input-field login-password-fieldbox">
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Sign in" class="btn btn-success btn-login" />
                                </div>
                            }
                        </section>
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
